<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <title><%= title %></title>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('../partials/header'); %>

    <!-- Contents -->
    <div class="uk-section uk-section-default">
      <div class="uk-container">
        <div class="uk-margin-large">
          <h2 class="uk-width-medium uk-h2">Product</h2>
          <div class="uk-divider-small"></div>
          <div class="uk-grid-collapse" uk-grid>
            <div class="uk-width-1-6">
              <ul class="uk-nav uk-nav-default">
                <% if (category.length === 0) { %>
                  <li class="uk-parent">There is no categories yet.</li>
                <% } else { %>
                  <% print_parent(category); %>
                <% } %>
              </ul>
            </div>
            <div class="uk-width-5-6">
              <% if (product.length === 0) { %>
                <p>There is no product yet.</p>
              <% } %>
            </div>
          </div>
          
          <% if (currentUser && currentUser.admin) { %>
            <p uk-margin>
              <a class="uk-button uk-button-primary" href="product/new">New Product</a>
            </p>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>

<%# category printing functions %>
<% function print_parent(categories) { %>
  <% for (let i = 0; i < categories.length; i++) { %>
    <% if (!categories[i].parent) { %>
      <li class="uk-parent"><a href="#"><%= categories[i].name %></a></li>
      <% print_children(categories[i].children); %>
    <% } %>
  <% } %>
<% } %>

<% function print_children(categories) { %>
  <% if (categories == null) return; %>
  <ul class="uk-nav-sub">
    <% for (let i = 0; i < categories.length; i++) { %>
      <li><a href="#"><%= categories[i].name %></a></li>
      <% for (let j = 0; j < category.length; j++) { %>
        <% if (category[j].name == categories[i].name) { %>
          <% print_grand(category[j].children); %>
        <% } %>
      <% } %>
    <% } %>
  </ul>
<% } %>

<% function print_grand(categories) { %>
  <% if (categories == null) return; %>
  <ul>
    <% for (let i = 0; i < categories.length; i++) { %>
      <li><a href="#"><%= categories[i].name %></a></li>
      <% for (let j = 0; j < category.length; j++) { %>
        <% if (category[j].name == categories[i].name) { %>
          <% print_grand(category[j].children); %>
        <% } %>
      <% } %>
    <% } %>
  </ul>
<% } %>