<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <title><%= title %></title>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('../partials/header'); %>

    <!-- Content -->
    <div class="uk-section uk-section-default">
      <div class="uk-container">
        <div class="uk-margin-large">
          <h2 class="uk-width-medium uk-h2"><%= product.name %></h2>
          <div class="uk-divider-small"></div>
          <div class="uk-child-width-1-1">
            <div>
              <% for (let i = 0; i < product.description.length; i++) { %>
                <img src="<%= product.description[i] %>" alt="description image <%= i %>">
              <% } %>
            </div>
          </div>
          <p uk-margin>
            <a class="uk-button uk-button-default" href="javascript:history.back()">Go back</a>
            <!-- <% if (currentUser && currentUser.admin) { %>
              <a class="uk-button uk-button-primary" href="/product/<%= product.id %>/edit">Edit</a>
              <a class="uk-button uk-button-danger" href="/product/<%= product.id %>?_method=delete">Delete</a>
            <% } %> -->
          </p>
        </div>
      </div>
    </div>
  </body>
</html>