<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <title><%= title %></title>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('../partials/header'); %>

    <!-- Content -->
    <div class="uk-section uk-section-default">
      <div class="uk-container">
        <div class="uk-margin-large">
          <h2 class="uk-width-medium uk-h2">Notice</h2>
          <div class="uk-divider-small"></div>
          <div class="uk-child-width-1-1">
            <% if (notice.length === 0) { %>
              <div class="text-center">There is no notice yet.</div>
            <% } else { %>              
              <% for (let i = 0; i < notice.length; i++) { %>
                <div class="ao-post">
                  <div class="ao-post-title"><a href=""><h4><%= notice[i].title %></h4></a></div>
                  <span class="uk-margin-small-right" uk-icon="user"></span>
                  <span class="ao-post-writer uk-margin-small-right"><%= notice[i].author.nickname %></span>
                  <span class="uk-margin-small-right" uk-icon="clock"></span>
                  <span class="ao-post-time"><%= moment(notice[i].created).format('YYYY-MM-DD h:m') %></span>
                </div>
              <% } %>
                
                <!-- pagination -->
                <!-- TODO: pagination not working. Need to fix. -->
                <ul class="uk-pagination uk-flex-center" uk-margin>
                  <li><a href="#"><span uk-pagination-previous></span></a></li>
                  <li><a href="#">1</a></li>
                  <li class="uk-disabled"><span>...</span></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">6</a></li>
                  <li class="uk-active"><span>7</span></li>
                  <li><a href="#">8</a></li>
                  <li><a href="#"><span uk-pagination-next></span></a></li>
                </ul>
            <% } %>
          </div>

          <% if (currentUser && currentUser.admin) { %>
            <p uk-margin>
              <a class="uk-button uk-button-primary" href="notice/new">New Notice</a>
            </p>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>